<footer class="footer">
  <small>
    <a href="http://www.hpconsole.com">Access HP Console</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">Use Rest</a></li>
    </ul>
  </nav>
</footer>
